.container {
  max-width: 992px;
  margin: 0 auto;
}

/* Class debug */
.debug .row {
  height: 200px;
}
.debug .row [class*="col-"] {
  background-color: green;
  border: 1px solid black;
  height: 100%;
}
.debug .row .row [class*="col-"] {
  background-color: green;
}
/* / class debug */

.width-100 {
  width: 100% ;
}

[class*="col-"] {
  padding: 5px;
}

.row {
  text-align: center;
}

.row img {
  height: 200px;
}

section.row.one, .row.two {
  margin-bottom: 100px;
}

section.row .row h1 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
}

section.row h2 {
  font-size: 20px;
  padding: 20px 0;
}

.grey {
  background-color: #f9f9f9;
}

section.row.three img {
  height: 250px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

section.row.three h1 {
  padding-bottom: 50px;
}

hr {
  margin-bottom: 50px;
}
