.container {
  max-width: 992px;
  margin: 0 auto;
}

/* Class debug */
.debug .row {
  height: 200px;
}
.debug .row [class*="col-"] {
  background-color: green;
  border: 1px solid black;
  height: 100%;
}
.debug .row .row [class*="col-"] {
  background-color: green;
}
/* / class debug */

.width-100 {
  width: 100% ;
}

.width-50 {
  width: 50%;
}

[class*="col-"] {
  padding: 20px;
}

.lezioni, .step, .why {
  text-align: center;
}

img {
  height: 200px;
}

.lezioni {
  margin-top: 100px;
}

.lezioni, .step {
  margin-bottom: 100px;
}

.row h1 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
}

.row h2 {
  font-size: 20px;
  padding: 10px 0;
}

.grey {
  background-color: #f9f9f9;
}

.why img {
  height: 250px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

.why h1 {
  padding-bottom: 50px;
}

.why p {
  padding: 20px 0px 0px;
}

hr {
  margin-bottom: 50px;
}
